* {
    font-family: 'Helvetica';
}

body {
    margin:0;
    background-color: #4E8397
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.game-title {
    font-size: 3vw;
    font-weight: bold;
}

.player-prompt {
    font-size: 2vw;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-bar {
    background-color: #00C9A7;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 25vw;
    font-size: 4.5vw;
    flex-flow: column;
    align-items: center;
}

.right-bar {
    background-color: #00C9A7;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 25vw;
    font-size: 4.5vw;
    flex-flow: column;
    align-items: center;
}

.score-label {
    font-size: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.score {
    display: flex;
}

.game-change-btn {
    background-color: #845EC2;
    color: white;
}

.game-options-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.classic-box {
    margin-bottom: 30px;
    background-color: #845EC2;
    width: 20vw;
    padding: 5vh;
}

.difficult-box {
    background-color: #845EC2;
    width: 20vw;
    padding: 5vh;
}

.classic-rock,
.classic-paper,
.classic-scissors,
.difficult-rock,
.difficult-paper,
.difficult-scissors,
.jazz-hands,
.love-hands {
    width: 100px;
    height: 100px;
}


.classic-rock,
.classic-paper,
.classic-scissors,
.difficult-rock,
.difficult-paper,
.difficult-scissors,
.jazz-hands,
.love-hands,
.classic-box,
.difficult-box,
.game-change-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}